
 <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head> 
<form id = "ajax-form" class="form-horizontal m-t-20" method="POST"  name="login">
    <input type="hidden" name="mod" value="login">
    <input type='hidden' name='csrfmiddlewaretoken' value='CxxE9w69FrwQyyUIBm6MCtMrZHpemmEOGMgl9dQnhgv7fb6VWv6oX2MLoJ0EGYSu' />
    <fieldset>
    
      <div class="form-group row">
        <div class="col-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input class="form-control" type="text" name="code" required="" placeholder="Type Here you message" >
          </div>
        </div>
      </div>

      <div class="space"></div>
                <div class="clearfix">
                  <div id="form-messages"></div>
                  <div class="form-group text-left m-t-20">
                    <div  class="entrar">
                      <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                        Send Message
                      </button>
                    </div>
                  </div>
                </div>
                <div class="space-4"></div>


                <tbody id="test">
                
                    </tbody>
              </fieldset>

            </form>
                

                <form id = "ajax-form2" class="form-horizontal m-t-20"></form>

                <div class="space"></div>
                <div class="clearfix">
                  <div id="form-messages"></div>
                  <div class="form-group text-left m-t-20">
                    <div  class="entrar">
                      <button id="pboton" class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                        Show/Hide all messages
                      </button>
                    </div>
                  </div>
                </div>
                <div class="space-4"></div>

                <form id = "ajax-form2" class="form-horizontal m-t-20"></form>

                <div class="space"></div>
                <div class="clearfix">
                  <div id="form-messages"></div>
                  <div class="form-group text-left m-t-20">
                    <div  class="entrar">
                      <button id="deleteboton" class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                        Delete ALL messages
                      </button>
                    </div>
                  </div>
                </div>
                <div class="space-4"></div>

            </form>
                <div class="card-box" style="display: none;" id="visible">
                <!-- <div class="card-box"  id="visible"></div> -->
                        <h4 class="header-title">Messages</h4>
                        <p class="sub-header">
                                Messages History
                        </p>
                
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Original message</th>
                                    <th>Encrypted message</th>
                                    <th>Original message CRC</th>
                                </tr>
                                </thead>
                                <tbody id="test">
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="space"></div>
                <div class="clearfix">
                  <div id="form-messages"></div>
                  <div class="form-group text-left m-t-20">
                    <div  class="entrar">
                      <button id="Orthographic" class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                          Orthographic Corrector English
                      </button>
                    </div>
                  </div>
                </div>
                <div class="space-4"></div>

                <textarea type="text" id="myText"  cols="100" rows="10"  >
                  </textarea>>
                  
<script>

// alert("hola");
// var formMessages = $('#form-messages');
// $(formMessages).text('hola');




$(function() {
    // Get the form.
	var form = $('#ajax-form');

	// Get the messages div.
	var formMessages = $('#form-messages');
    $(form).submit(function(e) {
        // Stop the browser from submitting the form.
		e.preventDefault();

		// Serialize the form data.
        var formData = $(form).serialize();
        // Submit the form using AJAX.

		$.ajax({
			type: 'POST',
			url: "/process/",
			data: formData
        })

        .done(function(response) {
			if (response['status'] == "ok"){
                $(formMessages).text(response['msg']);
                Update_table(e)
            }
		})
		.fail(function(data) {
			// Make sure that the formMessages div has the 'error' class.
			$(formMessages).removeClass('success');
			$(formMessages).addClass('error');

			// Set the message text.
			
				$(formMessages).text('Login no se ha procesado');
			
		});

    });
    


    
    $("#deleteboton").click(function(e) {

e.preventDefault();

// Serialize the form data.

// Submit the form using AJAX.

$.ajax({
    type: 'GET',
    url: "/delete/",
    
})


.done(function(response) {
    if (response['status'] == "ok"){
        alert("Messages deleted")
        Update_table(e)
    }
})

});

function Update_table(e) {

    e.preventDefault();

		// Serialize the form data.
        
        // Submit the form using AJAX.

		$.ajax({
			type: 'GET',
			url: "/history/",
			
        })


        .done(function(response) {
			if (response['status'] == "ok"){
                var i;
                arraa = response['msg'];
                $("#test").empty()
                for (i = arraa.length -1; i >= 0; i--) {
                    // Se ejecuta 5 veces, con valores desde paso desde 0 hasta 4.
                    n =i+1
                    $("#test").append('<tr><th scope="row">'+n+'</th><td>'+arraa[i][0]+'</td><td>'+arraa[i][1]+'</td><td>'+arraa[i][2]+'</td></tr>')
                };
                
            }
		})

}


    $("#pboton").click(function(e) {

        Update_table(e)
        if ($("#visible").attr( 'style' )  =="")
                {$("#visible").hide()}else
                {$("#visible").show();}

    });


    $("#Orthographic").click(function(e) {

      data = document.getElementById("myText").value
                    
                    //remake_mailbox(data);
      var text = '{"data":"'+data+'"}'
        $.ajax( {

          type: 'POST',
          url:  '/orthographic/',
          contentType: 'application/json',
        
          data: text,


          })
          .done(function(response) {
      document.getElementById("myText").value = response['msg'];
      alert("Text corrected")
    })
  });
});
</script>